In [1]:
# import required modules for this project

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

**Graduation Dataset Overview**

In [3]:
# Load csv file
graduation = pd.read_csv('/Users/sa26/Documents/GitHub/Predict-Podcast-Listening-Time/Education-Capstone/data/2023-graduation-rates-public-borough.csv')

In [4]:
# print out the first 5 rows of data
graduation.head()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
0,Bronx,All Students,2019,4 year August,12256,9733,79.4,9678,79.0,99.4,...,0.4,0.6,1381,11.3,957,7.8,74,0.6,91,0.7
1,Bronx,All Students,2018,4 year August,12487,9921,79.5,9874,79.1,99.5,...,0.4,0.5,1400,11.2,974,7.8,95,0.8,87,0.7
2,Bronx,All Students,2017,4 year August,13152,10220,77.7,10136,77.1,99.2,...,0.6,0.8,1761,13.4,1001,7.6,54,0.4,98,0.7
3,Bronx,All Students,2016,4 year August,13421,9938,74.0,9733,72.5,97.9,...,1.5,2.1,1976,14.7,1271,9.5,60,0.4,175,1.3
4,Bronx,All Students,2015,4 year August,13891,9752,70.2,8446,60.8,86.6,...,9.4,13.4,2124,15.3,1759,12.7,80,0.6,175,1.3

Opened data wrangler. 2,899 rows x 27 columns. Most frequent borough is the Bronx. Will explore value counts for categorical variables. Will calculate graduation year using cohort and cohort and cohort year. Will focus strictly on graduation variables.

In [8]:
# Print out general information on this dataframe
graduation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2899 entries, 0 to 2898
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               2899 non-null   object
 1   Category                              2899 non-null   object
 2   Cohort Year                           2899 non-null   object
 3   Cohort                                2899 non-null   object
 4   # Total Cohort                        2899 non-null   object
 5   # Grads                               2899 non-null   object
 6   % Grads                               2899 non-null   object
 7   # Total Regents                       2899 non-null   object
 8   % Total Regents of Cohort             2899 non-null   object
 9   % Total Regents of Grads              2899 non-null   object
 10  # Advanced Regents                    2899 non-null   object
 11  % Advanced Regents of Cohort          2899 non-null   object
 12  % Advanced Regents of Grads           2899 non-null   object
 13  # Regents without Advanced            2899 non-null   object
 14  % Regents without Advanced of Cohort  2899 non-null   object
 15  % Regents without Advanced of Grads   2899 non-null   object
 16  # Local                               2899 non-null   object
 17  % Local of Cohort                     2899 non-null   object
 18  % Local of Grads                      2899 non-null   object
 19  # Still Enrolled                      2899 non-null   object
 20  % Still Enrolled                      2899 non-null   object
 21  # Dropout                             2899 non-null   object
 22  % Dropout                             2899 non-null   object
 23  # SACC (IEP Diploma)                  2899 non-null   object
 24  % SACC (IEP Diploma) of Cohort        2899 non-null   object
 25  # TASC (GED)                          2899 non-null   object
 26  % TASC (GED) of Cohort                2899 non-null   object
dtypes: object(27)
memory usage: 611.6+ KB

Might change data types

In [6]:
graduation.describe()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
count,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899,...,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899
unique,6,18,9,6,1462,2286,550,2289,613,357,...,245,357,1183,350,1075,310,260,93,221,59
top,Bronx,All Students,2017,4 year August,17,s,s,s,s,100.0,...,0.3,0.0,7,5.0,9,5.2,0,0.0,0,0.8
freq,580,180,400,645,11,24,24,24,24,141,...,152,141,43,33,44,38,399,502,169,242

Most cohort data is centered on August 2017, with most 4-years long. There might be some supressed data. Will delete those rows. Most frequent drop out rate is 5.2%. Might rid some diploma columns due to low frequencies.

In [7]:
graduation.isnull().sum()

Borough                                 0
Category                                0
Cohort Year                             0
Cohort                                  0
# Total Cohort                          0
# Grads                                 0
% Grads                                 0
# Total Regents                         0
% Total Regents of Cohort               0
% Total Regents of Grads                0
# Advanced Regents                      0
% Advanced Regents of Cohort            0
% Advanced Regents of Grads             0
# Regents without Advanced              0
% Regents without Advanced of Cohort    0
% Regents without Advanced of Grads     0
# Local                                 0
% Local of Cohort                       0
% Local of Grads                        0
# Still Enrolled                        0
% Still Enrolled                        0
# Dropout                               0
% Dropout                               0
# SACC (IEP Diploma)                    0
% SACC (IEP Diploma) of Cohort          0
# TASC (GED)                            0
% TASC (GED) of Cohort                  0
dtype: int64

In [10]:
# Dropped suppressed data

rows_to_drop = graduation.isin(['s']).any(axis=1)
graduation = graduation[~rows_to_drop]
graduation.describe()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
count,2875,2875,2875,2875,2875,2875,2875,2875,2875,2875,...,2875,2875,2875,2875,2875,2875,2875,2875,2875,2875
unique,6,18,9,6,1453,2285,549,2288,612,356,...,244,356,1182,349,1074,309,259,92,220,58
top,Manhattan,All Students,2017,4 year August,17,61,88.6,23,84.8,100.0,...,0.3,0.0,7,3.4,9,5.2,0,0.0,0,0.8
freq,578,180,400,637,11,10,20,10,20,141,...,152,141,43,33,44,38,399,502,169,242

In [15]:
graduation.value_counts()

Borough        Category         Cohort Year  Cohort         # Total Cohort  # Grads  % Grads  # Total Regents  % Total Regents of Cohort  % Total Regents of Grads  # Advanced Regents  % Advanced Regents of Cohort  % Advanced Regents of Grads  # Regents without Advanced  % Regents without Advanced of Cohort  % Regents without Advanced of Grads  # Local  % Local of Cohort  % Local of Grads  # Still Enrolled  % Still Enrolled  # Dropout  % Dropout  # SACC (IEP Diploma)  % SACC (IEP Diploma) of Cohort  # TASC (GED)  % TASC (GED) of Cohort
Borough        Category         Cohort Year  Cohort         # Total Cohort  # Grads  % Grads  # Total Regents  % Total Regents of Cohort  % Total Regents of Grads  # Advanced Regents  % Advanced Regents of Cohort  % Advanced Regents of Grads  # Regents without Advanced  % Regents without Advanced of Cohort  % Regents without Advanced of Grads  # Local  % Local of Cohort  % Local of Grads  # Still Enrolled  % Still Enrolled  # Dropout  % Dropout  # SACC (IEP Diploma)  % SACC (IEP Diploma) of Cohort  # TASC (GED)  % TASC (GED) of Cohort    5
Queens         Female           2017         4 year June    9256            8194     88.5     8172             88.3                       99.7                      4760                51.4                          58.1                         3412                        36.9                                  41.6                                 22       0.2                0.3               743               8.0               238        2.6        18                    0.2                             63            0.7                       1
                                2013         4 year June    9100            7373     81.0     7068             77.7                       95.9                      2488                27.3                          33.7                         4580                        50.3                                  62.1                                 305      3.4                4.1               1226              13.5              425        4.7        34                    0.4                             37            0.4                       1
                                             5 year August  9066            7828     86.3     7423             81.9                       94.8                      2472                27.3                          31.6                         4951                        54.6                                  63.2                                 405      4.5                5.2               417               4.6               635        7.0        132                   1.5                             49            0.5                       1
                                             5 year June    9066            7789     85.9     7398             81.6                       95.0                      2472                27.3                          31.7                         4926                        54.3                                  63.2                                 391      4.3                5.0               452               5.0               639        7.0        132                   1.5                             49            0.5                       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
Brooklyn       Native American  2018         4 year August  157             125      79.6     124              79.0                       99.2                      45                  28.7                          36.0                         79                          50.3                                  63.2                                 1        0.6                0.8               19                12.1              8          5.1        0                     0.0                             5             3.2                       1
                                             4 year June    157             122      77.7     121              77.1                       99.2                      45                  28.7                          36.9                         76                          48.4                                  62.3                                 1        0.6                0.8               22                14.0              8          5.1        0                     0.0                             5             3.2                       1
                                             5 year August  158             129      81.6     128              81.0                       99.2                      45                  28.5                          34.9                         83                          52.5                                  64.3                                 1        0.6                0.8               9                 5.7               12         7.6        3                     1.9                             5             3.2                       1
                                             5 year June    158             129      81.6     128              81.0                       99.2                      45                  28.5                          34.9                         83                          52.5                                  64.3                                 1        0.6                0.8               9                 5.7               12         7.6        3                     1.9                             5             3.2                       1
Staten Island  White            2019         4 year June    1929            1763     91.4     1759             91.2                       99.8                      730                 37.8                          41.4                         1029                        53.3                                  58.4                                 4        0.2                0.2               111               5.8               35         1.8        11                    0.6                             9             0.5                       1
Name: count, Length: 2871, dtype: int64

**Transformations Summary** 

For the graduation dataset, I completed the following transformations;
1. I dropped suppressed data to further support the Family Educational Rights and Privacy Act (FERPA) and be able to analyze the numerical columns.
2.