In [1]:
# import required modules for this project

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

**Graduation Dataset Overview**

In [3]:
# Load csv file
graduation = pd.read_csv('/Users/sa26/Documents/GitHub/Predict-Podcast-Listening-Time/Education-Capstone/data/2023-graduation-rates-public-borough.csv')

In [4]:
# print out the first 5 rows of data
graduation.head()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
0,Bronx,All Students,2019,4 year August,12256,9733,79.4,9678,79.0,99.4,...,0.4,0.6,1381,11.3,957,7.8,74,0.6,91,0.7
1,Bronx,All Students,2018,4 year August,12487,9921,79.5,9874,79.1,99.5,...,0.4,0.5,1400,11.2,974,7.8,95,0.8,87,0.7
2,Bronx,All Students,2017,4 year August,13152,10220,77.7,10136,77.1,99.2,...,0.6,0.8,1761,13.4,1001,7.6,54,0.4,98,0.7
3,Bronx,All Students,2016,4 year August,13421,9938,74.0,9733,72.5,97.9,...,1.5,2.1,1976,14.7,1271,9.5,60,0.4,175,1.3
4,Bronx,All Students,2015,4 year August,13891,9752,70.2,8446,60.8,86.6,...,9.4,13.4,2124,15.3,1759,12.7,80,0.6,175,1.3

Opened data wrangler. 2,899 rows x 27 columns. Will explore value counts for categorical variables. Will calculate graduation year using cohort and cohort and cohort year. Will focus strictly on graduation variables.

In [8]:
# Print out general information on this dataframe
graduation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2899 entries, 0 to 2898
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               2899 non-null   object
 1   Category                              2899 non-null   object
 2   Cohort Year                           2899 non-null   object
 3   Cohort                                2899 non-null   object
 4   # Total Cohort                        2899 non-null   object
 5   # Grads                               2899 non-null   object
 6   % Grads                               2899 non-null   object
 7   # Total Regents                       2899 non-null   object
 8   % Total Regents of Cohort             2899 non-null   object
 9   % Total Regents of Grads              2899 non-null   object
 10  # Advanced Regents                    2899 non-null   object
 11  % Advanced Regents of Cohort          2899 non-null   object
 12  % Advanced Regents of Grads           2899 non-null   object
 13  # Regents without Advanced            2899 non-null   object
 14  % Regents without Advanced of Cohort  2899 non-null   object
 15  % Regents without Advanced of Grads   2899 non-null   object
 16  # Local                               2899 non-null   object
 17  % Local of Cohort                     2899 non-null   object
 18  % Local of Grads                      2899 non-null   object
 19  # Still Enrolled                      2899 non-null   object
 20  % Still Enrolled                      2899 non-null   object
 21  # Dropout                             2899 non-null   object
 22  % Dropout                             2899 non-null   object
 23  # SACC (IEP Diploma)                  2899 non-null   object
 24  % SACC (IEP Diploma) of Cohort        2899 non-null   object
 25  # TASC (GED)                          2899 non-null   object
 26  % TASC (GED) of Cohort                2899 non-null   object
dtypes: object(27)
memory usage: 611.6+ KB

Might change data types

In [6]:
graduation.describe()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
count,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899,...,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899
unique,6,18,9,6,1462,2286,550,2289,613,357,...,245,357,1183,350,1075,310,260,93,221,59
top,Bronx,All Students,2017,4 year August,17,s,s,s,s,100.0,...,0.3,0.0,7,5.0,9,5.2,0,0.0,0,0.8
freq,580,180,400,645,11,24,24,24,24,141,...,152,141,43,33,44,38,399,502,169,242

Most cohort data is centered on August 2017, with most 4-years long. There might be some supressed data. Will delete those rows. Most frequent drop out rate is 5.2%. Might rid some diploma columns due to low frequencies.

In [7]:
graduation.isnull().sum()

Borough                                 0
Category                                0
Cohort Year                             0
Cohort                                  0
# Total Cohort                          0
# Grads                                 0
% Grads                                 0
# Total Regents                         0
% Total Regents of Cohort               0
% Total Regents of Grads                0
# Advanced Regents                      0
% Advanced Regents of Cohort            0
% Advanced Regents of Grads             0
# Regents without Advanced              0
% Regents without Advanced of Cohort    0
% Regents without Advanced of Grads     0
# Local                                 0
% Local of Cohort                       0
% Local of Grads                        0
# Still Enrolled                        0
% Still Enrolled                        0
# Dropout                               0
% Dropout                               0
# SACC (IEP Diploma)                    0
% SACC (IEP Diploma) of Cohort          0
# TASC (GED)                            0
% TASC (GED) of Cohort                  0
dtype: int64

In [10]:
# Dropped suppressed data

rows_to_drop = graduation.isin(['s']).any(axis=1)
graduation = graduation[~rows_to_drop]
graduation.describe()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
count,2875,2875,2875,2875,2875,2875,2875,2875,2875,2875,...,2875,2875,2875,2875,2875,2875,2875,2875,2875,2875
unique,6,18,9,6,1453,2285,549,2288,612,356,...,244,356,1182,349,1074,309,259,92,220,58
top,Manhattan,All Students,2017,4 year August,17,61,88.6,23,84.8,100.0,...,0.3,0.0,7,3.4,9,5.2,0,0.0,0,0.8
freq,578,180,400,637,11,10,20,10,20,141,...,152,141,43,33,44,38,399,502,169,242

In [19]:
graduation['Category'].value_counts()

Category
All Students               180
Black                      180
Econ Disadv                180
Male                       180
White                      180
Native American            180
Multi-Racial               180
Hispanic                   180
Asian                      180
SWD                        180
Not SWD                    180
Not ELL                    180
Former ELL                 180
ELL                        180
Not Econ Disadv            180
Female                     168
Category                     5
Neither Female nor Male      2
Name: count, dtype: int64

In [22]:
# Dropped "Category" rows
more_rows_to_drop = graduation.isin(['Category']).any(axis=1)
graduation = graduation[~more_rows_to_drop]
graduation.describe()

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
count,2870,2870,2870,2870,2870,2870,2870,2870,2870,2870,...,2870,2870,2870,2870,2870,2870,2870,2870,2870,2870
unique,5,17,8,5,1452,2284,548,2287,611,355,...,243,355,1181,348,1073,308,258,91,219,57
top,Manhattan,All Students,2017,4 year August,17,61,76.5,23,84.8,100.0,...,0.3,0.0,7,3.4,9,5.2,0,0.0,0,0.8
freq,578,180,400,637,11,10,20,10,20,141,...,152,141,43,33,44,38,399,502,169,242

In [20]:
graduation['Borough'].value_counts()

Borough
Manhattan        578
Queens           574
Staten Island    574
Bronx            572
Brooklyn         572
Borough            5
Name: count, dtype: int64

In [21]:
graduation['Cohort Year'].value_counts()

Cohort Year
2017           400
2016           400
2015           400
2014           400
2013           400
2012           400
2018           316
2019           154
Cohort Year      5
Name: count, dtype: int64

In [24]:
# Ensure 'Cohort Year' is an integer type.
graduation['Cohort Year'] = pd.to_numeric(graduation['Cohort Year'], errors='coerce').fillna(0).astype(int)

# Extract the number from the 'Cohort' string directly using vectorized operations.
extracted_years = pd.to_numeric(
    graduation['Cohort'].str.extract(r'(\d+)', expand=False),
    errors='coerce'
).fillna(0).astype(int)

# Add the 'Cohort Year' column (now guaranteed int) and the 'extracted_years' Series (guaranteed int)to create the new 'Graduation Year' column.
graduation['Graduation Year'] = graduation['Cohort Year'] + extracted_years
graduation

,Borough,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort,Graduation Year
0,Bronx,All Students,2019,4 year August,12256,9733,79.4,9678,79.0,99.4,...,0.6,1381,11.3,957,7.8,74,0.6,91,0.7,2023
1,Bronx,All Students,2018,4 year August,12487,9921,79.5,9874,79.1,99.5,...,0.5,1400,11.2,974,7.8,95,0.8,87,0.7,2022
2,Bronx,All Students,2017,4 year August,13152,10220,77.7,10136,77.1,99.2,...,0.8,1761,13.4,1001,7.6,54,0.4,98,0.7,2021
3,Bronx,All Students,2016,4 year August,13421,9938,74.0,9733,72.5,97.9,...,2.1,1976,14.7,1271,9.5,60,0.4,175,1.3,2020
4,Bronx,All Students,2015,4 year August,13891,9752,70.2,8446,60.8,86.6,...,13.4,2124,15.3,1759,12.7,80,0.6,175,1.3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,Staten Island,Not Econ Disadv,2016,6 year June,1981,1871,94.4,1847,93.2,98.7,...,1.3,19,1.0,71,3.6,3,0.2,17,0.9,2022
2895,Staten Island,Not Econ Disadv,2015,6 year June,1870,1726,92.3,1559,83.4,90.3,...,9.7,41,2.2,77,4.1,3,0.2,23,1.2,2021
2896,Staten Island,Not Econ Disadv,2014,6 year June,2022,1816,89.8,1646,81.4,90.6,...,9.4,52,2.6,125,6.2,6,0.3,23,1.1,2020
2897,Staten Island,Not Econ Disadv,2013,6 year June,2236,1985,88.8,1810,80.9,91.2,...,8.8,56,2.5,150,6.7,11,0.5,34,1.5,2019
2898,Staten Island,Not Econ Disadv,2012,6 year June,2410,2098,87.1,1898,78.8,90.5,...,9.5,65,2.7,173,7.2,42,1.7,32,1.3,2018

**Transformations Summary** 

For the graduation dataset, I completed the following transformations;
1. Dropped suppressed data to further support the Family Educational Rights and Privacy Act (FERPA) and be able to analyze the numerical columns.
2. Dropped 5 rows that didn't include any additional data
3. Created Graduation Year column