In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

## Import Data

In [3]:
# Load DataFrame
df = pd.read_csv("/Users/sa18/Desktop/Education-Capstone/data/2016-17_-_2020-23_Citywide_End-of-Year_Attendance_and_Chronic_Absenteeism_Data_20250604.csv")

This dataset shows citywide attendance and chronic absenteeism for New York City Public Schools. 

"Citywide" means all 5 boroughs of NYC: Bronx, Brooklyn, Manhattan, Queens and Staten Island.

The dataset cites attendance and absenteeism rates for the academic years: 
* 2016-17
* 2017-18
* 2018-19
* 2020-21 
* 2021-22
* 2022-23

## Data Understanding

In [4]:
# shape of DataFrame
df.shape

(53607, 10)

This dataset has 10 columns and 53,607 rows.

In [5]:
df.head(50)

,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,# Contributing 10+ Total Days and 1+ Pres Day,# Chronically Absent,% Chronically Absent
0,All Grades,All Students,2018-19,30887,2278,28609,92.6,192,47,24.5
1,All Grades,All Students,2019-20,21101,1500,19601,92.9,204,58,28.4
2,All Grades,All Students,2020-21,32686,3931,28755,88.0,199,84,42.2
3,All Grades,All Students,2021-22,31663,4751,26912,85.0,190,113,59.5
4,All Grades,All Students,2022-23,32663,4159,28504,87.3,206,104,50.5
5,PK in K-12 Schools,All Students,2018-19,2104,245,1859,88.4,15,7,46.7
6,PK in K-12 Schools,All Students,2019-20,1490,198,1292,86.7,15,10,66.7
7,PK in K-12 Schools,All Students,2020-21,2830,467,2363,83.5,18,10,55.6
8,PK in K-12 Schools,All Students,2021-22,2812,598,2214,78.7,18,12,66.7
9,PK in K-12 Schools,All Students,2022-23,2136,336,1800,84.3,13,10,76.9
10,0K,All Students,2018-19,3491,283,3208,91.9,22,6,27.3
11,0K,All Students,2019-20,3091,288,2803,90.7,30,15,50.0
12,0K,All Students,2020-21,4685,766,3919,83.6,29,15,51.7
13,0K,All Students,2021-22,5371,821,4550,84.7,32,22,68.8
14,0K,All Students,2022-23,6224,887,5337,85.7,37,16,43.2
15,1,All Students,2018-19,5857,543,5314,90.7,35,10,28.6
16,1,All Students,2019-20,2871,218,2653,92.4,28,9,32.1
17,1,All Students,2020-21,5012,735,4277,85.3,32,17,53.1
18,1,All Students,2021-22,4489,595,3894,86.7,26,12,46.2
19,1,All Students,2022-23,5353,741,4612,86.2,34,21,61.8
20,2,All Students,2018-19,5455,328,5127,94.0,34,4,11.8
21,2,All Students,2019-20,4274,260,4014,93.9,42,7,16.7
22,2,All Students,2020-21,4512,697,3815,84.6,27,14,51.9
23,2,All Students,2021-22,4356,596,3760,86.3,27,16,59.3
24,2,All Students,2022-23,4322,474,3848,89.0,28,11,39.3
25,3,All Students,2018-19,5278,299,4979,94.3,33,5,15.2
26,3,All Students,2019-20,3862,238,3624,93.8,37,8,21.6
27,3,All Students,2020-21,5277,391,4886,92.6,32,8,25.0
28,3,All Students,2021-22,3898,588,3310,84.9,23,15,65.2
29,3,All Students,2022-23,5095,552,4543,89.2,33,14,42.4
30,4,All Students,2018-19,3536,207,3329,94.1,23,5,21.7
31,4,All Students,2019-20,3304,193,3111,94.2,32,7,21.9
32,4,All Students,2020-21,5413,540,4873,90.0,32,13,40.6
33,4,All Students,2021-22,5711,819,4892,85.7,34,19,55.9
34,4,All Students,2022-23,3480,460,3020,86.8,25,16,64.0
35,5,All Students,2018-19,5166,373,4793,92.8,30,10,33.3
36,5,All Students,2019-20,2209,105,2104,95.2,20,2,10.0
37,5,All Students,2020-21,4957,335,4622,93.2,29,7,24.1
38,5,All Students,2021-22,5026,734,4292,85.4,30,17,56.7
39,5,All Students,2022-23,6053,709,5344,88.3,36,16,44.4
40,All Grades,All Students,2018-19,44723,3979,40744,91.1,265,87,32.8
41,All Grades,All Students,2019-20,27491,2242,25249,91.8,250,72,28.8
42,All Grades,All Students,2020-21,36681,2523,34158,93.1,213,50,23.5
43,All Grades,All Students,2021-22,31722,3843,27879,87.9,189,99,52.4
44,PK in K-12 Schools,All Students,2018-19,1855,202,1653,89.1,11,4,36.4
45,PK in K-12 Schools,All Students,2019-20,1922,198,1724,89.7,18,9,50.0
46,PK in K-12 Schools,All Students,2020-21,2269,172,2097,92.4,13,6,46.2
47,PK in K-12 Schools,All Students,2021-22,3001,392,2609,86.9,18,11,61.1
48,0K,All Students,2018-19,5205,476,4729,90.9,31,7,22.6
49,0K,All Students,2019-20,2983,260,2723,91.3,28,8,28.6

In [12]:
df.tail(50)

,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,# Contributing 10+ Total Days and 1+ Pres Day,# Chronically Absent,% Chronically Absent
53557,9,All Students,2018-19,29295,14362,14933,51.0,207,189,91.3
53558,9,All Students,2019-20,16879,9026,7853,46.5,177,158,89.3
53559,9,All Students,2020-21,33190,20891,12299,37.1,184,169,91.8
53560,9,All Students,2021-22,17190,9942,7248,42.2,120,116,96.7
53561,9,All Students,2022-23,16563,9275,7288,44.0,119,110,92.4
53562,10,All Students,2018-19,15839,6469,9370,59.2,102,85,83.3
53563,10,All Students,2019-20,11884,4634,7250,61.0,113,91,80.5
53564,10,All Students,2020-21,15378,9458,5920,38.5,79,72,91.1
53565,10,All Students,2021-22,21520,10231,11289,52.5,133,118,88.7
53566,10,All Students,2022-23,10676,4871,5805,54.4,73,63,86.3
53567,11,All Students,2018-19,12989,s,s,s,s,s,s
53568,11,All Students,2019-20,7027,2316,4711,67.0,64,49,76.6
53569,11,All Students,2020-21,10917,4085,6832,62.6,65,53,81.5
53570,11,All Students,2021-22,9317,3829,5488,58.9,59,48,81.4
53571,11,All Students,2022-23,12215,3676,8539,69.9,76,57,75.0
53572,12,All Students,2018-19,25577,7239,18338,71.7,153,107,69.9
53573,12,All Students,2019-20,16899,4860,12039,71.2,151,105,69.5
53574,12,All Students,2020-21,24936,9009,15927,63.9,143,105,73.4
53575,12,All Students,2021-22,25814,8451,17363,67.3,151,126,83.4
53576,12,All Students,2022-23,20990,6238,14752,70.3,127,96,75.6
53577,All Grades,All Students,2018-19,112306,18753,93553,83.3,666,373,56.0
53578,All Grades,All Students,2019-20,73228,12417,60811,83.0,652,354,54.3
53579,All Grades,All Students,2020-21,112857,24696,88161,78.1,655,365,55.7
53580,All Grades,All Students,2021-22,103648,28690,74958,72.3,609,443,72.7
53581,All Grades,All Students,2022-23,104140,23851,80289,77.1,621,421,67.8
53582,6,All Students,2021-22,1,s,s,s,s,s,s
53583,7,All Students,2018-19,178,s,s,s,s,s,s
53584,8,All Students,2018-19,260,s,s,s,s,s,s
53585,8,All Students,2019-20,345,s,s,s,s,s,s
53586,8,All Students,2020-21,13,s,s,s,s,s,s
53587,9,All Students,2018-19,14077,2446,11631,82.6,88,55,62.5
53588,9,All Students,2019-20,10753,2000,8753,81.4,98,54,55.1
53589,9,All Students,2020-21,12489,s,s,s,s,s,s
53590,9,All Students,2021-22,13689,3966,9723,71.0,81,57,70.4
53591,9,All Students,2022-23,18448,3798,14650,79.4,112,71,63.4
53592,10,All Students,2018-19,20342,3121,17221,84.7,124,64,51.6
53593,10,All Students,2019-20,9799,s,s,s,s,s,s
53594,10,All Students,2020-21,16801,3513,13288,79.1,98,57,58.2
53595,10,All Students,2021-22,12894,s,s,s,s,s,s
53596,10,All Students,2022-23,14611,3251,11360,77.7,88,55,62.5
53597,11,All Students,2018-19,15051,2430,12621,83.9,88,52,59.1
53598,11,All Students,2019-20,12531,1971,10560,84.3,113,55,48.7
53599,11,All Students,2020-21,14784,3358,11426,77.3,84,45,53.6
53600,11,All Students,2021-22,16430,4828,11602,70.6,93,61,65.6
53601,11,All Students,2022-23,14784,3923,10861,73.5,87,66,75.9
53602,12,All Students,2018-19,62398,10686,51712,82.9,363,200,55.1
53603,12,All Students,2019-20,39800,6585,33215,83.5,352,194,55.1
53604,12,All Students,2020-21,68770,15327,53443,77.7,398,224,56.3
53605,12,All Students,2021-22,60634,16098,44536,73.5,355,263,74.1
53606,12,All Students,2022-23,56297,12879,43418,77.1,334,229,68.6

In [6]:
# list the columns
df.columns

Index(['Grade', 'Category', 'Year', '# Total Days', '# Days Absent',
       '# Days Present', '% Attendance',
       '# Contributing 10+ Total Days and 1+ Pres Day', '# Chronically Absent',
       '% Chronically Absent'],
      dtype='object')

In [7]:
# check DataFrame structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53607 entries, 0 to 53606
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Grade                                          53607 non-null  object
 1   Category                                       53607 non-null  object
 2   Year                                           53607 non-null  object
 3   # Total Days                                   53607 non-null  int64
 4   # Days Absent                                  53607 non-null  object
 5   # Days Present                                 53607 non-null  object
 6   % Attendance                                   53607 non-null  object
 7   # Contributing 10+ Total Days and 1+ Pres Day  53607 non-null  object
 8   # Chronically Absent                           53607 non-null  object
 9   % Chronically Absent                           53607 non-null  object
dtypes: int64(1), object(9)
memory usage: 4.1+ MB

In [8]:
# check for missing values
df.isnull().sum()

Grade                                            0
Category                                         0
Year                                             0
# Total Days                                     0
# Days Absent                                    0
# Days Present                                   0
% Attendance                                     0
# Contributing 10+ Total Days and 1+ Pres Day    0
# Chronically Absent                             0
% Chronically Absent                             0
dtype: int64

There are no missing values.

In [15]:
# describe the dataset's info and stats
df.describe()

       # Total Days
count  5.360700e+04
mean   2.654513e+04
std    4.314677e+04
min    1.000000e+00
25%    8.036000e+03
50%    1.332000e+04
75%    2.304100e+04
max    1.024625e+06

In [10]:
# check for duplicates
df.duplicated().sum()

305

In [11]:
# check for unique values in each column
df.nunique()

Grade                                               15
Category                                             1
Year                                                 5
# Total Days                                     29748
# Days Absent                                     9711
# Days Present                                   28255
% Attendance                                       435
# Contributing 10+ Total Days and 1+ Pres Day     1606
# Chronically Absent                               698
% Chronically Absent                               941
dtype: int64

## Univariate Analysis