# Mini EDA

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# open datasets
attendance_df = pd.read_csv("/Users/sa10/Downloads/Education-Capstone/data/2016-17_-_2020-23_Citywide_End-of-Year_Attendance_and_Chronic_Absenteeism_Data_20250604.csv")
demographic_df = pd.read_csv("/Users/sa10/Downloads/Education-Capstone/data/2019-20_Demographic_Snapshot_-_Citywide_20250604.csv")
graduation_df = pd.read_csv("/Users/sa10/Downloads/Education-Capstone/data/Graduation_results_for_Cohorts_2012_to_2019__Classes_of_2016_to_2023__20250609.csv")

## Attendance

In [3]:
attendance_df.head()

,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,# Contributing 10+ Total Days and 1+ Pres Day,# Chronically Absent,% Chronically Absent
0,All Grades,All Students,2018-19,30887,2278,28609,92.6,192,47,24.5
1,All Grades,All Students,2019-20,21101,1500,19601,92.9,204,58,28.4
2,All Grades,All Students,2020-21,32686,3931,28755,88.0,199,84,42.2
3,All Grades,All Students,2021-22,31663,4751,26912,85.0,190,113,59.5
4,All Grades,All Students,2022-23,32663,4159,28504,87.3,206,104,50.5

In [26]:
attendance_df.describe

<bound method NDFrame.describe of             Grade      Category     Year  # Total Days # Days Absent  \
0      All Grades  All Students  2018-19         30887          2278
1      All Grades  All Students  2019-20         21101          1500
2      All Grades  All Students  2020-21         32686          3931
3      All Grades  All Students  2021-22         31663          4751
4      All Grades  All Students  2022-23         32663          4159
...           ...           ...      ...           ...           ...
53602          12  All Students  2018-19         62398         10686
53603          12  All Students  2019-20         39800          6585
53604          12  All Students  2020-21         68770         15327
53605          12  All Students  2021-22         60634         16098
53606          12  All Students  2022-23         56297         12879

      # Days Present % Attendance  \
0              28609         92.6
1              19601         92.9
2              28755         88.0
3              26912         85.0
4              28504         87.3
...              ...          ...
53602          51712         82.9
53603          33215         83.5
53604          53443         77.7
53605          44536         73.5
53606          43418         77.1

      # Contributing 10+ Total Days and 1+ Pres Day # Chronically Absent  \
0                                               192                   47
1                                               204                   58
2                                               199                   84
3                                               190                  113
4                                               206                  104
...                                             ...                  ...
53602                                           363                  200
53603                                           352                  194
53604                                           398                  224
53605                                           355                  263
53606                                           334                  229

      % Chronically Absent
0                     24.5
1                     28.4
2                     42.2
3                     59.5
4                     50.5
...                    ...
53602                 55.1
53603                 55.1
53604                 56.3
53605                 74.1
53606                 68.6

[53607 rows x 10 columns]>

In [27]:
attendance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53607 entries, 0 to 53606
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Grade                                          53607 non-null  object
 1   Category                                       53607 non-null  object
 2   Year                                           53607 non-null  object
 3   # Total Days                                   53607 non-null  int64
 4   # Days Absent                                  53607 non-null  object
 5   # Days Present                                 53607 non-null  object
 6   % Attendance                                   53607 non-null  object
 7   # Contributing 10+ Total Days and 1+ Pres Day  53607 non-null  object
 8   # Chronically Absent                           53607 non-null  object
 9   % Chronically Absent                           53607 non-null  object
dtypes: int64(1), object(9)
memory usage: 4.1+ MB

In [83]:
attendance_df['# Chronically Absent'].unique()

array(['47', '58', '84', '113', '104', '7', '10', '12', '6', '15', '22',
       '16', '9', '17', '21', '4', '14', '11', '5', '8', '13', '19', '2',
       '87', '72', '50', '99', '3', '18', '23', '165', '192', '196',
       '223', '25', '27', '31', '33', '32', '26', '44', '28', '20', '30',
       '29', '35', '158', '146', '116', '203', '171', '24', '83', '57',
       '100', '103', '117', '94', '112', '152', '126', '95', '79', '74',
       '142', '124', '153', '109', '120', '135', '140', '204', '191',
       '233', '297', '286', 's', '46', '34', '52', '43', '45', '40', '55',
       '147', '134', '123', '228', '210', '60', '76', '0', '1', '249',
       '213', '217', '295', '302', '36', '38', '41', '62', '86', '170',
       '156', '59', '37', '53', '51', '182', '98', '106', '91', '92',
       '75', '69', '61', '107', '105', '114', '85', '39', '139', '129',
       '224', '282', '185', '54', '77', '42', '64', '81', '82', '49',
       '247', '230', '63', '70', '67', '71', '48', '97', '115', '110',
       '89', '154', '122', '144', '108', '157', '190', '268', '198',
       '164', '188', '264', '73', '101', '145', '125', '172', '131',
       '221', '68', '148', '102', '176', '78', '177', '289', '96', '231',
       '169', '208', '259', '257', '218', '56', '80', '111', '119', '128',
       '127', '263', '220', '118', '167', '93', '65', '206', '137', '66',
       '195', '178', '150', '187', '234', '285', '200', '138', '136',
       '275', '305', '225', '243', '194', '132', '166', '216', '174',
       '159', '175', '255', '352', '394', '357', '90', '88', '121', '155',
       '201', '160', '236', '205', '222', '168', '336', '277', '298',
       '207', '313', '219', '304', '310', '143', '419', '399', '284',
       '649', '487', '161', '141', '227', '308', '245', '432', '433',
       '787', '668', '492', '183', '173', '130', '232', '211', '292',
       '237', '265', '241', '179', '337', '299', '162', '186', '349',
       '361', '369', '287', '193', '387', '388', '325', '151', '226',
       '322', '260', '246', '498', '495', '1169', '994', '608', '358',
       '333', '240', '163', '278', '290', '438', '397', '251', '750',
       '517', '133', '273', '212', '291', '370', '209', '340', '421',
       '238', '235', '181', '189', '283', '793', '348', '551', '411',
       '300', '276', '256', '320', '391', '335', '317', '270', '149',
       '184', '293', '261', '266', '254', '180', '334', '330', '202',
       '271', '248', '229', '347', '279', '389', '396', '342', '417',
       '365', '586', '511', '455', '386', '199', '272', '252', '258',
       '214', '262', '197', '329', '244', '364', '509', '521', '242',
       '311', '640', '618', '789', '847', '652', '315', '215', '331',
       '339', '402', '444', '239', '309', '280', '321', '267', '409',
       '408', '294', '274', '324', '338', '475', '458', '412', '319',
       '393', '351', '326', '356', '536', '424', '303', '345', '250',
       '378', '355', '363', '301', '341', '406', '489', '416', '307',
       '281', '323', '253', '374', '471', '414', '332', '434', '380',
       '490', '306', '296', '344', '405', '418', '453', '407', '354',
       '447', '460', '464', '675', '269', '539', '371', '560', '437',
       '381', '440', '499', '375', '312', '328', '523', '531', '540',
       '582', '413', '316', '350', '327', '379', '288', '314', '395',
       '484', '429', '503', '382', '537', '468', '377', '439', '353',
       '428', '572', '1318', '1314', '632', '461', '318', '431', '479',
       '362', '565', '505', '359', '420', '612', '559', '625', '1197',
       '887', '621', '366', '473', '666', '360', '368', '454', '376',
       '545', '497', '851', '867', '834', '443', '501', '742', '844',
       '422', '463', '1105', '1092', '1442', '1428', '1182', '491',
       '1209', '1218', '1031', '1735', '1448', '404', '436', '346', '557',
       '1180', '1192', '1533', '1679', '1286', '385', '512', '450', '926',
       '522', '513', '510', '441', '398', '738', '708', '682', '1134',
       '1338', '400', '845', '739', '1099', '1493', '1165', '451', '373',
       '448', '459', '1052', '869', '684', '383', '465', '496', '423',
       '392', '656', '858', '732', '910', '1336', '1146', '535', '519',
       '988', '1572', '1356', '494', '485', '372', '367', '425', '446',
       '476', '741', '770', '769', '532', '502', '452', '546', '410',
       '549', '878', '533', '493', '692', '698', '810', '695', '751',
       '730', '766', '534', '442', '1232', '1295', '1698', '1150', '527',
       '430', '748', '638', '746', '821', '842', '819', '617', '928',
       '1051', '922', '715', '904', '1178', '921', '482', '634', '548',
       '728', '528', '462', '488', '445', '474', '470', '669', '579',
       '427', '818', '662', '611', '576', '415', '613', '676', '550',
       '683', '598', '1010', '950', '1383', '1014', '390', '477', '426',
       '1004', '655', '571', '1109', '992', '713', '1316', '1127', '1074',
       '1289', '998', '733', '566', '823', '691', '525', '530', '909',
       '775', '1067', '1058', '835', '849', '924', '900', '866', '516',
       '799', '480', '384', '403', '478', '753', '604', '645', '872',
       '721', '486', '580', '574', '592', '937', '843', '643', '622',
       '661', '975', '1628', '737', '960', '343', '895', '1043', '826',
       '1734', '1163', '808', '1011', '500', '529', '467', '457', '435',
       '401', '578'], dtype=object)

In [89]:
attendance_df['# Contributing 10+ Total Days and 1+ Pres Day'].unique

<bound method Series.unique of 0        192
1        204
2        199
3        190
4        206
        ...
53602    363
53603    352
53604    398
53605    355
53606    334
Name: # Contributing 10+ Total Days and 1+ Pres Day, Length: 53607, dtype: object>

In [13]:
attendance_df['# Days Absent']

0         2278
1         1500
2         3931
3         4751
4         4159
         ...
53602    10686
53603     6585
53604    15327
53605    16098
53606    12879
Name: # Days Absent, Length: 53607, dtype: object

In [74]:
attendance_df['# Days Present']

0        28609
1        19601
2        28755
3        26912
4        28504
         ...
53602    51712
53603    33215
53604    53443
53605    44536
53606    43418
Name: # Days Present, Length: 53607, dtype: object

In [69]:
attendance_df['# Total Days']

0        30887
1        21101
2        32686
3        31663
4        32663
         ...
53602    62398
53603    39800
53604    68770
53605    60634
53606    56297
Name: # Total Days, Length: 53607, dtype: int64

In [63]:
attendance_df['Category'].value_counts()

Category
All Students    53607
Name: count, dtype: int64

In [44]:
attendance_df['Grade'].value_counts()

Grade
All Grades            7666
0K                    4198
1                     4177
2                     4162
5                     4128
3                     4123
4                     4094
PK in K-12 Schools    3383
6                     2864
8                     2667
9                     2642
7                     2611
10                    2319
11                    2291
12                    2282
Name: count, dtype: int64

In [46]:
attendance_df['Year'].value_counts()

Year
2022-23    10855
2021-22    10738
2020-21    10722
2019-20    10665
2018-19    10627
Name: count, dtype: int64

In [54]:
attendance_df['% Attendance'].unique()

array(['92.6', '92.9', '88.0', '85.0', '87.3', '88.4', '86.7', '83.5',
       '78.7', '84.3', '91.9', '90.7', '83.6', '84.7', '85.7', '92.4',
       '85.3', '86.2', '94.0', '93.9', '84.6', '86.3', '89.0', '94.3',
       '93.8', '84.9', '89.2', '94.1', '94.2', '90.0', '86.8', '92.8',
       '95.2', '93.2', '85.4', '88.3', '91.1', '91.8', '93.1', '87.9',
       '89.1', '89.7', '86.9', '90.9', '91.3', '90.5', '93.3', '91.2',
       '87.0', '91.5', '90.3', '95.4', '87.2', '91.6', '88.1', '90.1',
       '93.7', '88.7', '92.5', '94.7', '92.1', '92.3', '85.9', '87.1',
       '85.8', '87.6', '89.4', '87.4', '89.8', '84.8', '91.7', '90.4',
       '86.5', '84.5', '81.1', '89.3', '93.6', '89.6', '94.4', '93.4',
       '95.9', '88.5', '80.3', '81.9', '86.6', '83.1', '80.5', '79.7',
       '84.2', '69.7', '80.7', '83.3', '85.2', '78.5', '80.6', '89.5',
       '80.4', '84.4', '81.2', '81.3', '93.0', '83.2', '88.9', '90.6',
       '87.5', '82.2', '79.2', '82.1', '79.4', '88.8', '91.4', '82.4',
       '84.1', '90.2', '91.0', '89.9', '97.4', '82.9', '86.1', '82.3',
       '88.2', '73.6', '81.8', '96.5', '87.8', '92.2', '94.8', '96.6',
       '90.8', '95.3', '95.5', '86.4', '71.1', '78.0', '85.1', '83.8',
       '83.7', '92.7', '85.5', '78.8', '78.3', '81.7', '75.7', 's',
       '72.3', '77.6', '72.7', '73.4', '83.9', '75.1', '80.1', '82.0',
       '88.6', '86.0', '79.8', '78.4', '80.9', '77.4', '79.0', '75.4',
       '74.6', '76.7', '92.0', '97.6', '96.9', '97.3', '96.8', '96.2',
       '99.3', '96.0', '95.7', '96.3', '98.8', '96.7', '98.1', '97.1',
       '97.7', '97.2', '98.6', '97.0', '98.0', '98.5', '97.8', '97.5',
       '97.9', '98.2', '95.8', '81.5', '59.0', '76.4', '78.9', '83.4',
       '82.7', '77.5', '76.9', '74.2', '82.8', '79.1', '82.6', '83.0',
       '77.7', '77.9', '73.0', '82.5', '74.1', '95.6', '98.9', '93.5',
       '84.0', '79.5', '94.5', '96.1', '95.1', '87.7', '85.6', '98.4',
       '98.3', '94.9', '75.6', '98.7', '94.6', '96.4', '95.0', '99.1',
       '99.0', '81.6', '80.0', '81.0', '80.8', '76.6', '99.2', '99.4',
       '76.5', '99.6', '78.1', '80.2', '79.9', '76.3', '69.4', '76.2',
       '74.7', '74.3', '75.3', '77.2', '77.3', '77.0', '76.1', '79.3',
       '70.2', '72.5', '72.6', '63.9', '67.3', '63.5', '67.7', '75.2',
       '74.4', '65.6', '72.2', '68.4', '71.7', '74.8', '76.0', '70.3',
       '74.0', '78.6', '76.8', '73.7', '58.6', '69.9', '78.2', '79.6',
       '71.8', '70.1', '67.2', '72.4', '70.9', '68.2', '74.5', '69.8',
       '73.5', '66.4', '69.3', '62.0', '65.3', '77.8', '81.4', '75.9',
       '65.9', '73.9', '71.0', '70.7', '73.1', '68.6', '73.2', '75.5',
       '68.5', '66.8', '70.6', '71.5', '68.7', '65.0', '68.3', '75.0',
       '74.9', '77.1', '75.8', '61.1', '99.7', '99.5', '71.4', '70.0',
       '66.1', '68.0', '73.8', '71.2', '72.8', '99.8', '99.9', '69.0',
       '69.5', '69.1', '57.8', '64.9', '66.9', '61.9', '64.4', '71.3',
       '73.3', '69.2', '71.9', '66.6', '69.6', '72.1', '64.1', '64.2',
       '66.3', '70.4', '60.0', '66.5', '62.7', '58.5', '70.8', '59.1',
       '68.8', '65.1', '64.7', '66.2', '62.9', '72.9', '72.0', '61.8',
       '56.1', '67.0', '53.7', '52.9', '60.2', '56.9', '65.2', '67.5',
       '71.6', '60.3', '67.1', '52.7', '61.5', '59.8', '65.4', '54.8',
       '61.3', '68.1', '66.7', '64.5', '61.6', '64.6', '61.2', '67.6',
       '58.1', '64.8', '67.9', '63.0', '68.9', '65.8', '62.8', '63.4',
       '62.5', '63.3', '70.5', '65.7', '62.4', '62.3', '60.9', '55.8',
       '58.4', '63.2', '59.9', '67.8', '55.5', '46.2', '48.1', '64.0',
       '63.1', '55.7', '59.7', '52.6', '62.6', '67.4', '53.9', '55.6',
       '42.7', '63.6', '60.7', '58.8', '54.7', '57.4', '49.0', '49.9',
       '60.1', '56.8', '56.0', '66.0', '59.2', '63.7', '57.9', '61.0',
       '60.5', '48.5', '51.0', '46.5', '37.1', '42.2', '44.0', '38.5',
       '52.5', '54.4', '58.9'], dtype=object)

In [61]:
attendance_df['% Chronically Absent'].unique()

array(['24.5', '28.4', '42.2', '59.5', '50.5', '46.7', '66.7', '55.6',
       '76.9', '27.3', '50.0', '51.7', '68.8', '43.2', '28.6', '32.1',
       '53.1', '46.2', '61.8', '11.8', '16.7', '51.9', '59.3', '39.3',
       '15.2', '21.6', '25.0', '65.2', '42.4', '21.7', '21.9', '40.6',
       '55.9', '64.0', '33.3', '10.0', '24.1', '56.7', '44.4', '32.8',
       '28.8', '23.5', '52.4', '36.4', '61.1', '22.6', '45.8', '36.6',
       '17.2', '40.0', '55.0', '26.5', '31.7', '11.5', '54.5', '30.4',
       '26.3', '47.7', '18.6', '18.2', '27.7', '16.3', '53.5', '37.7',
       '23.3', '53.6', '57.3', '51.0', '54.3', '20.5', '62.8', '58.1',
       '44.3', '48.5', '30.2', '60.4', '31.1', '37.9', '34.0', '69.8',
       '33.7', '40.7', '17.7', '62.2', '22.9', '25.4', '39.2', '67.4',
       '29.6', '28.0', '52.9', '50.8', '23.8', '7.6', '42.9', '58.3',
       '48.0', '47.2', '70.2', '66.8', '57.9', '64.7', '64.3', '68.0',
       '82.8', '60.0', '45.0', '80.0', '75.0', '63.6', '81.8', '77.8',
       '56.3', '79.3', '61.9', '62.5', '52.6', '41.2', '70.4', '34.1',
       '70.8', '17.6', '68.4', '48.8', '39.5', '47.8', '77.3', '48.9',
       '37.0', '30.0', '69.7', '46.4', '37.8', '41.9', '73.1', '43.1',
       '44.7', '58.5', '66.0', '33.1', '25.7', '51.5', '50.7', '35.0',
       '73.5', '43.8', '43.5', '28.9', '56.5', '47.6', '38.3', '34.3',
       '51.4', '26.7', '29.3', '65.5', '35.5', '25.9', '35.3', '13.8',
       '45.2', '17.9', '15.6', '48.1', '38.1', '66.1', '73.9', '45.7',
       '85.3', '63.8', '65.4', '61.5', '52.0', '56.0', '51.2', '46.9',
       '40.9', '44.8', '38.7', '31.8', '29.0', '78.8', '53.7', '24.2',
       '21.2', '45.5', '64.4', '24.3', '19.4', '41.4', '30.6', '7.4',
       '27.9', '24.7', '46.8', '35.2', '37.5', '16.9', '23.7', '11.7',
       '42.6', '20.0', '14.5', '36.5', '18.0', '13.0', '42.3', '31.0',
       '15.5', '12.0', '19.2', '38.5', '41.0', '54.8', '66.2', '67.3',
       '47.1', '57.1', '52.5', '61.3', '37.1', '70.0', '72.4', '41.5',
       '32.4', '35.6', '76.5', '67.6', '55.8', '49.2', '47.5', '63.1',
       '79.8', '69.1', '73.3', '84.6', 's', '86.1', '62.1', '85.2',
       '72.7', '92.9', '53.3', '77.1', '76.7', '64.9', '83.3', '81.6',
       '39.4', '59.4', '79.2', '84.2', '40.3', '39.0', '75.4', '77.6',
       '74.1', '68.2', '67.8', '82.1', '57.4', '38.6', '35.8', '63.2',
       '54.1', '53.2', '40.4', '72.5', '70.6', '53.8', '41.7', '56.4',
       '34.7', '18.8', '37.3', '29.2', '55.3', '25.6', '23.9', '72.1',
       '4.6', '6.3', '6.2', '6.1', '10.1', '5.6', '22.2', '0.0', '17.3',
       '34.6', '7.7', '7.5', '19.0', '3.1', '6.9', '1.4', '9.1', '2.9',
       '7.3', '5.7', '3.8', '7.8', '5.4', '4.5', '6.7', '3.2', '1.8',
       '8.3', '1.9', '3.3', '4.4', '9.5', '9.3', '8.7', '7.1', '8.1',
       '51.6', '49.4', '57.2', '86.7', '69.0', '58.8', '65.7', '59.0',
       '75.6', '67.9', '56.8', '61.4', '56.6', '81.1', '74.4', '56.9',
       '48.4', '76.0', '80.5', '50.9', '36.2', '62.3', '32.0', '52.8',
       '43.3', '19.6', '69.5', '48.2', '37.2', '65.6', '55.7', '26.8',
       '61.7', '54.4', '30.1', '61.0', '58.0', '51.1', '56.1', '84.1',
       '14.9', '18.4', '11.3', '38.9', '52.3', '13.5', '23.1', '36.7',
       '23.4', '13.6', '24.6', '2.0', '8.5', '8.9', '2.5', '20.8', '27.4',
       '54.6', '29.7', '46.3', '49.3', '23.6', '45.9', '33.8', '26.9',
       '27.0', '24.0', '42.0', '34.2', '17.1', '34.5', '27.5', '21.4',
       '20.4', '14.6', '44.0', '24.4', '16.2', '19.8', '40.2', '48.3',
       '27.8', '4.0', '19.3', '19.5', '16.0', '4.2', '7.0', '15.0',
       '12.2', '5.0', '25.3', '42.5', '42.1', '60.9', '34.8', '29.5',
       '34.9', '55.2', '21.8', '63.3', '26.1', '27.1', '35.1', '14.8',
       '19.1', '17.0', '11.9', '12.7', '43.9', '53.4', '43.4', '26.2',
       '25.8', '32.7', '38.0', '21.0', '57.8', '63.9', '57.0', '19.7',
       '5.9', '1.0', '22.5', '22.7', '9.4', '4.7', '15.8', '10.2', '13.7',
       '5.8', '16.5', '6.5', '36.3', '85.7', '6.8', '14.0', '8.0', '5.2',
       '11.2', '0.9', '12.1', '13.4', '10.9', '10.7', '0.8', '9.7', '2.6',
       '2.2', '5.5', '3.4', '10.3', '2.8', '11.0', '17.8', '1.5', '20.9',
       '3.0', '4.9', '12.6', '8.4', '10.8', '14.3', '10.4', '9.9', '13.9',
       '32.6', '9.6', '22.0', '13.3', '17.4', '16.4', '12.5', '62.7',
       '47.3', '14.2', '31.6', '17.5', '62.9', '13.2', '30.5', '28.1',
       '49.1', '29.1', '33.9', '11.4', '26.4', '30.9', '25.5', '11.1',
       '20.6', '16.8', '9.0', '25.2', '18.9', '6.6', '4.8', '18.3', '9.8',
       '3.9', '20.2', '1.1', '18.1', '8.2', '11.6', '1.2', '2.4', '7.2',
       '10.6', '20.1', '29.9', '43.7', '23.0', '12.8', '15.9', '21.1',
       '24.8', '39.8', '31.3', '32.3', '27.2', '35.7', '28.2', '39.7',
       '36.8', '12.3', '31.5', '14.4', '22.8', '4.1', '8.6', '4.3',
       '31.4', '3.7', '6.0', '22.4', '20.7', '26.0', '15.1', '71.7',
       '22.1', '62.0', '31.9', '58.4', '55.4', '76.1', '73.8', '65.0',
       '29.8', '47.0', '60.3', '67.1', '52.7', '7.9', '32.5', '14.1',
       '1.7', '5.1', '1.6', '8.8', '15.3', '28.3', '13.1', '37.4', '30.8',
       '57.7', '86.8', '44.6', '64.6', '70.7', '55.1', '30.3', '23.2',
       '42.7', '9.2', '0.7', '1.3', '19.9', '49.0', '20.3', '70.9',
       '44.9', '3.6', '21.3', '10.5', '3.5', '2.3', '36.0', '5.3', '36.1',
       '6.4', '27.6', '54.7', '73.6', '87.1', '54.0', '49.6', '62.4',
       '59.8', '63.4', '63.0', '85.1', '15.4', '39.6', '26.6', '16.6',
       '38.2', '14.7', '12.4', '29.4', '12.9', '32.9', '47.4', '22.3',
       '15.7', '18.7', '35.9', '37.6', '48.7', '40.5', '2.7', '35.4',
       '40.8', '50.3', '51.8', '47.9', '64.5', '36.9', '68.5', '64.1',
       '42.8', '28.5', '31.2', '50.4', '76.4', '53.0', '58.9', '44.1',
       '43.6', '46.6', '44.2', '45.1', '41.3', '72.0', '49.5', '65.9',
       '86.4', '89.3', '78.6', '52.1', '84.0', '67.5', '41.6', '50.2',
       '59.6', '64.2', '66.9', '78.5', '51.3', '81.3', '76.6', '86.2',
       '48.6', '60.8', '39.1', '68.7', '68.9', '71.4', '52.2', '59.2',
       '69.9', '89.0', '44.5', '43.0', '45.3', '66.3', '60.7', '49.7',
       '54.9', '57.6', '72.8', '2.1', '72.6', '76.3', '78.1', '93.3',
       '89.7', '41.8', '41.1', '54.2', '46.5', '38.8', '66.4', '21.5',
       '81.7', '90.3', '60.5', '74.2', '16.1', '78.3', '78.7', '34.4',
       '57.5', '39.9', '55.5', '81.4', '33.2', '18.5', '61.2', '49.9',
       '82.9', '59.1', '58.7', '80.4', '82.2', '89.8', '69.2', '90.9',
       '96.6', '25.1', '38.4', '32.2', '46.1', '49.8', '97.1', '69.6',
       '77.5', '50.6', '71.6', '65.1', '79.5', '64.8', '88.1', '28.7',
       '60.1', '63.7', '75.8', '63.5', '46.0', '50.1', '72.9', '65.3',
       '58.6', '82.7', '80.1', '56.2', '75.9', '60.6', '65.8', '80.8',
       '62.6', '71.1', '84.3', '87.4', '84.8', '77.7', '89.4', '88.2',
       '91.0', '90.7', '93.0', '61.6', '74.8', '76.8', '30.7', '73.0',
       '78.4', '73.2', '70.5', '83.2', '60.2', '70.1', '71.0', '78.0',
       '79.7', '0.4', '87.3', '68.6', '71.9', '66.6', '80.3', '69.4',
       '77.4', '40.1', '85.0', '92.0', '45.6', '59.7', '74.6', '74.7',
       '90.5', '88.0', '82.6', '72.2', '53.9', '83.5', '73.7', '89.2',
       '80.6', '88.8', '71.3', '87.0', '72.3', '45.4', '92.2', '74.0',
       '90.0', '88.5', '75.5', '79.9', '97.4', '93.5', '71.2', '58.2',
       '87.5', '92.3', '91.7', '92.5', '93.1', '87.2', '33.0', '33.6',
       '74.5', '71.8', '91.4', '33.5', '79.1', '70.3', '94.4', '87.9',
       '67.7', '78.9', '81.9', '100.0', '89.5', '88.7', '83.1', '94.9',
       '82.4', '67.2', '67.0', '84.7', '84.4', '93.2', '80.7', '83.7',
       '74.3', '79.0', '82.0', '83.0', '68.3', '69.3', '77.0', '83.8',
       '81.0', '33.4', '96.8', '98.9', '98.1', '59.9', '83.9', '86.9',
       '97.5', '86.6', '24.9', '76.2', '75.1', '68.1', '85.9', '77.2',
       '75.3', '73.4', '75.7', '92.6', '87.7', '99.1', '92.7', '94.1',
       '75.2', '96.2', '96.3', '96.4', '95.8', '91.8', '90.6', '82.5',
       '97.3', '87.8', '97.0', '82.3', '92.4', '80.9', '77.9', '0.6',
       '90.2', '83.6', '91.2', '97.8', '86.5', '85.4', '74.9', '81.5',
       '79.4', '86.0', '71.5', '78.2', '85.5', '66.5', '93.8', '88.3',
       '91.3', '81.2', '0.3', '88.9', '79.6', '95.0', '87.6', '89.6',
       '90.1', '88.6', '84.5', '96.7', '91.1', '86.3', '83.4'],
      dtype=object)

## Demographic

In [4]:
demographic_df.head()

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,2015-16,1133963,71847,84386,87804,86930,85309,81287,79581,76798,...,0.021,167465,0.148,222496,0.196,142506,0.126,801696,0.707,0.621
1,2016-17,1141232,72553,82517,86008,86279,85050,84185,80563,78985,...,0.023,169803,0.149,228347,0.200,153466,0.134,800985,0.702,0.610
2,2017-18,1135334,71528,81588,83578,83978,84363,83367,83277,79114,...,0.025,170417,0.150,231910,0.204,153661,0.135,856483,0.754,0.719
3,2018-19,1126501,73904,78627,81908,81205,81706,82510,82044,81289,...,0.027,169583,0.151,234497,0.208,148815,0.132,834003,0.740,0.713
4,2019-20,1131868,87480,78587,79171,80298,79555,80287,81513,80250,...,0.031,170370,0.151,230983,0.204,142386,0.126,821883,0.726,0.719

In [9]:
demographic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 37 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        5 non-null      object
 1   Total Enrollment                            5 non-null      int64
 2   Grade 3K+PK (Half Day & Full Day)           5 non-null      int64
 3   Grade K                                     5 non-null      int64
 4   Grade 1                                     5 non-null      int64
 5   Grade 2                                     5 non-null      int64
 6   Grade 3                                     5 non-null      int64
 7   Grade 4                                     5 non-null      int64
 8   Grade 5                                     5 non-null      int64
 9   Grade 6                                     5 non-null      int64
 10  Grade 7                                     5 non-null      int64
 11  Grade 8                                     5 non-null      int64
 12  Grade 9                                     5 non-null      int64
 13  Grade 10                                    5 non-null      int64
 14  Grade 11                                    5 non-null      int64
 15  Grade 12                                    5 non-null      int64
 16  # Female                                    5 non-null      int64
 17  % Female                                    5 non-null      float64
 18  # Male                                      5 non-null      int64
 19  % Male                                      5 non-null      float64
 20  # Asian                                     5 non-null      int64
 21  % Asian                                     5 non-null      float64
 22  # Black                                     5 non-null      int64
 23  % Black                                     5 non-null      float64
 24  # Hispanic                                  5 non-null      int64
 25  % Hispanic                                  5 non-null      float64
 26  # Multiple Race Categories Not Represented  5 non-null      int64
 27  % Multiple Race Categories Not Represented  5 non-null      float64
 28  # White                                     5 non-null      int64
 29  % White                                     5 non-null      float64
 30  # Students with Disabilities                5 non-null      int64
 31  % Students with Disabilities                5 non-null      float64
 32  # English Language Learners                 5 non-null      int64
 33  % English Language Learners                 5 non-null      float64
 34  # Poverty                                   5 non-null      int64
 35  % Poverty                                   5 non-null      float64
 36  Economic Need Index                         5 non-null      float64
dtypes: float64(11), int64(25), object(1)
memory usage: 1.6+ KB

## Graduation

In [5]:
graduation_df.head()

,Report Category,Geographic Subdivision,School Name,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
0,Citywide,Citywide,NaN,All Students,2019,4 year August,69893,58503,83.7,58295,...,0.3,0.4,6773,9.7,3748,5.4,260,0.4,569,0.8
1,Citywide,Citywide,NaN,All Students,2018,4 year August,70912,59374,83.7,59110,...,0.4,0.4,6808,9.6,3831,5.4,322,0.5,547,0.8
2,Citywide,Citywide,NaN,All Students,2017,4 year August,72663,60055,82.6,59683,...,0.5,0.6,8225,11.3,3545,4.9,227,0.3,566,0.8
3,Citywide,Citywide,NaN,All Students,2016,4 year August,73565,58704,79.8,57734,...,1.3,1.7,9385,12.8,4338,5.9,269,0.4,852,1.2
4,Citywide,Citywide,NaN,All Students,2015,4 year August,73772,57035,77.3,51848,...,7,9.1,9979,13.5,5745,7.8,317,0.4,692,0.9

In [10]:
graduation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130 entries, 0 to 1129
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Report Category                       1130 non-null   object
 1   Geographic Subdivision                1130 non-null   object
 2   School Name                           0 non-null      float64
 3   Category                              1130 non-null   object
 4   Cohort Year                           1130 non-null   int64
 5   Cohort                                1130 non-null   object
 6   # Total Cohort                        1130 non-null   int64
 7   # Grads                               1130 non-null   object
 8   % Grads                               1130 non-null   object
 9   # Total Regents                       1130 non-null   object
 10  % Total Regents of Cohort             1130 non-null   object
 11  % Total Regents of Grads              1130 non-null   object
 12  # Advanced Regents                    1130 non-null   object
 13  % Advanced Regents of Cohort          1130 non-null   object
 14  % Advanced Regents of Grads           1130 non-null   object
 15  # Regents without Advanced            1130 non-null   object
 16  % Regents without Advanced of Cohort  1130 non-null   object
 17  % Regents without Advanced of Grads   1130 non-null   object
 18  # Local                               1130 non-null   object
 19  % Local of Cohort                     1130 non-null   object
 20  % Local of Grads                      1130 non-null   object
 21  # Still Enrolled                      1130 non-null   object
 22  % Still Enrolled                      1130 non-null   object
 23  # Dropout                             1130 non-null   object
 24  % Dropout                             1130 non-null   object
 25  # SACC (IEP Diploma)                  1130 non-null   object
 26  % SACC (IEP Diploma) of Cohort        1130 non-null   object
 27  # TASC (GED)                          1130 non-null   object
 28  % TASC (GED) of Cohort                1130 non-null   object
dtypes: float64(1), int64(2), object(26)
memory usage: 256.1+ KB